<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <address class="">
   Phone NO:  +91-9100146135
   <br >
    Address:   Dharmavaram, Anantapur, Andhra Pradesh, India
    <br >
  linked in:   linkedin.com/in/raghunathreddymustur
  <br >
     github:   github.com/raghunathreddymustur
<br >
    </address>
<%- include("partials/footer"); -%>
